*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    margin: 0;
    background-color: #131419
}
.header-1{
   
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #000000;
    font-family: 'Bebas Neue', cursive;
}
header{
   
    background-color: #000000;
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Bebas Neue', cursive;;
}
nav{
    flex: 1;
    text-align: right;
    font-family: 'Bebas Neue', cursive;;
 
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    margin-right: 10px;
    font-family: 'Geo', sans-serif;
    font-size: 30px;
    text-decoration: none;
    margin-right: 30px;
}
nav a{

    text-decoration: none;
    color: #D1D1D1;
}
nav a:hover{
    color: #858383;
    transition: 0.4s ;
}

.action{
   
    position: relative;
}
.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.action .menu{
    position:absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #696969;
}
.img_back{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    margin: 80px;
    position: relative;
    line-height: 60px;
    font-size: 40px;
}
.title::after{
    content: '';
    background:#D1D1D1;
    width: 80px;
    height: 5px;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.description{
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}
.bottons{
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;
}

.btn-down{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.image{
    opacity: 1;
    display: block;
    
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.paises:hover .image {
    opacity: 0.8;
  }
.estadio:hover .image{
    opacity: 0.8;
}
.jogadores:hover .image{
    opacity: 0.8;
}
.grupo:hover .image{
    opacity: 0.8;
}
.jogos:hover .image{
    opacity: 0.8;
}
.title2{
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    margin: 80px;
    position: relative;
    line-height: 60px;
    font-size: 40px;
}
.title2::after{
    content: '';
    background:#D1D1D1;
    width: 190px;
    height: 5px;
    border-radius: 1px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
